body{
    margin: 0;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #d1c388;
}

.seccion {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

.proyectos{
    background-color: #555;
    height: 500px;
    margin: 0px;
    padding: 10px;
}

.titulo-seccion{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.lista-project{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 60px;
    padding: 2px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    gap: 20px;
    
}

.lista-project li{
    list-style: none;
    justify-content: space-around;
}

.card{
    padding: 1.5rem;
    border: 4px solid #aaa48d;
    box-shadow: 0px 2px 3px  #ffffff;
    background-color: #f4f4f4;
    text-decoration: none;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 1.5rem;

}    

.card-titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px #d1c388;

}

.card a {
    text-decoration: none;;
}

.card a:hover {
    text-decoration: underline;
    color: #d1c388;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px ;
    padding: 8px;   
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
}

button:hover {
    background-color: #555;

}

/* pets*/
.body2{
    background-image: url(img/img.webp);
    text-align: center;
}   

/*pet header*/
.header2 a{
    color: #f4f4f4;
    text-decoration: none ;
}


.header2 a:hover{
    color: #d1c388;

}

.gallery {
    display: inline-block;
    flex-wrap: wrap;
}

.gallery:hover{
    transform: scale(1.1);
}

img {
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(43, 41, 41);
    margin: 20px;
    padding: 10px;    
}

article {
    text-align: center;
    margin: 20px;
}


@media (max-width: 480px) {

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .proyectos{
        background-color: #555;
        padding: 20px;
        height: 50%;

    }

    .lista-project {
        grid-template-columns: 1fr;
    }

    .lista-project li{
        display: flex;
        justify-content: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        display: flex;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .proyectos{
        background-color: #555;
        padding: 20px;
        height: 50%;
    }
    
    .lista-project {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card{
        width: 70%;
        height: 350px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    img{
        display: flex;
    }
}

@media (min-width: 769px) {
    .proyectos{
        background-color: #555;
        padding: 20px;
    }
    
    .lista-project {
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        width: 70%;
        height: 350px;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}   